[colors]
background = #100a08
foreground = #eee9e3
primary = #f46831
secondary = #f4a631
alert = #ff0000

[bar/mainbar]
monitor = ${env:MONITOR}
width = 100%
height = 25
background = ${colors.background}
foreground = ${colors.foreground}
line-size = 3
line-color = #f00
border-size = 0
border-color = #000
padding-left = 0
padding-right = 4
module-margin-left = 2
module-margin-right = 2
font-0 = FiraCode Nerd Font:size=10;3
font-1 = Nixie One:bold:size=10;3
tray-position = right
tray-padding = 2
tray-background = ${colors.background}
cursor-click = pointer
cursor-scroll = ns-resize
modules-left = ewmh
modules-center = divergence
modules-right = cpu pulseaudio date battery

[module/ewmh]
type = internal/xworkspaces
label-active = " %name% "
label-active-foreground = ${colors.background}
label-active-background = ${colors.primary}
label-active-underline = ${colors.primary}
label-occupied = " %name% "
label-occupied-underline = ${colors.secondary}
label-urgent = " %name% "
label-urgent-background = ${colors.background}
label-urgent-foreground = ${colors.foreground}
label-urgent-underline = ${colors.alert}
label-empty = " %name% "
label-empty-foreground = ${colors.foreground}

[module/date]
type = internal/date
date = %a %d %b %H:%M:%S
format-underline = ${colors.primary}

[module/cpu]
type = internal/cpu
label = CPU %percentage:2%%
format-underline = ${colors.secondary}

[module/pulseaudio]
type = internal/pulseaudio
label-volume = VOL %percentage:2%%
label-muted = MUTE
label-muted-foreground = ${colors.primary}

[module/battery]
type = internal/battery
battery = BAT0
adapter = AC
full-at = 95
low-at = 20

format-underline = ${colors.secondary}
label-charging =  %percentage:2%%
label-discharging =  %percentage:2%%
label =  %percentage:2%%
label-low =  %percentage:2%%
format-low-underline = ${colors.alert}
format-low-foreground = ${colors.primary}

[module/divergence]
type = custom/text
content = "%{T2}1.048596%{T-}"
content-foreground = ${colors.primary}
content-background = ${colors.background}

[settings]
screenchange-reload = true
