#![enable(implicit_some)]
(
    border_width: 1,
    margin: 3,
    workspace_margin: None,
    default_width: None,
    default_height: None,
    always_float: None,
    gutter: None,
    default_border_color: "#ffa722",
    floating_border_color: "#f9e211",
    focused_border_color: "#ff5900",
    on_new_window: None,
)
